* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("https://raw.githubusercontent.com/yza1129/pic/refs/heads/main/sweet-and-spooky-kuromi_800.gif");
    color: white;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  